<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/folder" color="secundary">
        <ion-icon slot="start" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small">Fã Club Star Wars
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lista-api2">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Cadastrar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="listar-cadastroa">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Listar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>