<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/folder" color="secundary"
        (click)=" pagesPe = 1; pagesPl =1; pagesN = 1; pagesS=1; pagesV = 1 ">
        <ion-icon slot="start" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Listar Api</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nomes Pessoas</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let pessoa of pessoas">
          <ion-buttons slot="end">
            {{pessoa.name}}
            <ion-button shape="round" slot="icon-only" (click)="abriModal(pessoa.url)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nomes Planetas</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let planeta of planetas">
          <ion-buttons slot="end">
            {{planeta.name}}
            <ion-button shape="round" slot="icon-only" (click)="abriModal(pessoa.url)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nomes Naves</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let nave of naves">
          <ion-buttons slot="end">
            {{nave.name}}
            <ion-button shape="round" slot="icon-only" (click)="abriModal(pessoa.url)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nomes Especies</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let especie of especies">
          <ion-buttons slot="end">
            {{especie.name}}
            <ion-button shape="round" slot="icon-only" (click)="abriModal(pessoa.url)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nomes Veiculos</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let veiculo of veiculos">
          <ion-buttons slot="end">
            {{veiculo.name}}
            <ion-button shape="round" slot="icon-only" (click)="abriModal(pessoa.url)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nomes Filmes</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let filme of filmes">
          <ion-buttons slot="end">
            {{filme.title}}
            <ion-button shape="round" slot="icon-only" (click)="abriModal()">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <br />
  <br />
  <br />
  <br />
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <span>
      <ion-fab-button [disabled]="pagesPe === 1" (click)=" anteriorPagina()">
        <ion-icon name="play-skip-back-outline"></ion-icon>
      </ion-fab-button>
    </span>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="!verificarSeTemProximaPagina()" (click)="proximaPagina()">
      <ion-icon name="play-skip-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>